.collapse {
    width: 100%;
    margin: auto;
    gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .collapse-item {
      .collapseTitle {
        width: 100%;
        margin-left: 0;
      }

      .chevron {
        cursor: pointer;
        transition: transform 0.5s;
      }

      .chevron.rotate {
        transform: rotate(180deg);
      }

      p {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease, padding 0.5s ease;
        margin: 0 30px;
        padding: 0 20px;
        font-size: 1.1rem;
      }

      .visible {
        height: auto;
        padding-bottom: 15px;
        margin: 30px;
      }
    }
  }

  @media (max-width: 768px) {
    .collapse {
        display: block;
      }
    }