@mixin AboutText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
}

/* CAROUSEL STYLES */

.carousel {
  position: relative;
  overflow: hidden;
  height: 30%;
  width: 85%;
  margin: auto;


  img {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    max-height: 700px;
    height: 700px;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 5rem;
  }


  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
}

/* PICTURE COUNT */

.picture-count {
  position: absolute;
  bottom: 50px;
  right: 50%;
  color: red;
  display: flex;
  justify-content: center;
}



/* TEXT HOUSE STYLES */

.house-details {
  width: 85%;
  margin: auto;
  margin-top: 20px;

  .firstSection {
    display: flex;
    justify-content: space-between;

    .hostAndRating {
      width: 150px;

      .host {
        display: flex;
        color: #FF6060;
        gap: 30px;
        width: 10px;

        .hostPicture {
          border-radius: 50%;
          width: 64px;
          height: 64px;
        }
      }
    }

    .house-principals-infos {

      h2 {
        @include AboutText;
        font-size: 36px;
        display: flex;
        align-items: flex-end;
        color: #FF6060;
      }

      .tags {
        display: flex;
        align-items: center;
        margin-top: 10px;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;

        .tag {
          background-color: #FF6060;
          color: white;
          padding: 5px 10px;
          border-radius: 10px;
        }
      }
    }
  }



  /* RATING AND STARS IN COMPONENT RatingStar */

  .rating {
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }

  .star {
    font-size: 20px;
    color: grey;
  }

  .star.filled {
    color: gold;
  }

  .ratingStar {
    display: flex;
    gap: 5px;
    margin-top: 10px;

    .fa-solid.fa-star {
      color: #FF6060;
    }

    .fa-regular.fa-star {
      color: #E3E3E3;
    }
  }
}

@media (max-width: 768px) {
  .house-details {
    .firstSection {
      display: block;
    }

  }
}

/* COLLAPSE STYLE */

.collapse {
  width: 100%;
  margin: auto;
  gap: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 768px) {
    display: block;
  }

  .collapse-item {
    .collapseTitle {
      display: flex;
      align-items: center;
      color: white;
      background-color: #ff6060;
      border-radius: 5px;
      margin: 30px 0;

      h2 {
        width: 100%;
        padding: 0 20px;
        @include AboutText();
      }

      i {
        padding: 20px;
      }
    }

    .chevron {
      cursor: pointer;
      transition: transform 0.5s;
    }

    .chevron.rotate {
      transform: rotate(180deg);
    }

    p {
      height: 0;
      overflow: hidden;
      transition: height 0.5s ease, padding 0.5s ease;
      margin: 0 30px;
      padding: 0 20px;
      font-size: 1.1rem;
    }

    .visible {
      height: auto;
      padding-bottom: 15px;
      margin: 0px;

      li {
        list-style: none;
      }
    }
  }
}


@media (max-width: 768px) {
  .collapse {
    display: block;
  }
}