@mixin HeaderFooterFont {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}


/* HEADER */

header {
    @include HeaderFooterFont;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    margin: 20px 50px;

    ul {
        display: flex;
        align-items: flex-end;
        text-align: right;
        gap: 57px;
        list-style: none;
        cursor: pointer;
        margin-right: 50px;
        }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration-line: underline;
        }
    }
}

/* FOOTER */

footer {
    @include HeaderFooterFont;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: black;
    height: 200px;

    .logo_footer {
        height: 20%;
    }
}