@mixin HeaderFooterFont {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}


/* HEADER */

header {
    @include HeaderFooterFont;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    margin: 30px auto;
    width: 85%;

    nav {
        display: flex;
        justify-content: space-between;
        align-self: center;
        margin-right: 15px;
    }

    nav a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        margin-left: 20px;

        &.active {
            text-decoration: underline;
        }

        &:hover {
            text-decoration-line: underline;
        }
    }
}

/* FOOTER */

footer {
    @include HeaderFooterFont;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: black;
    height: 200px;
    left: 0px;
    bottom: 0px;
    width: 100%;

}