.banner {
  background-image: url(../assets/backgroundAbout.png);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 220px;
  margin: 0 auto;
  border-radius: 25px;
  color: white;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    z-index: 1;
  }
}
