@mixin Font {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
}

.mainError {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  gap: 139px;
  @media (max-width: 768px) {
    gap: 113px;
    margin-top: 15%;
  }
  .mainError__numberError {
    font-weight: 700;
    font-size: 10rem;
    margin: 0;
    @include Font;
  }
  .mainError__noPage {
    @include Font;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .mainError__errorLink {
    color: black;
    margin-bottom: 50px;
  }
}
