@mixin arrow {
  position: absolute;
  color: white;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 5rem;
}

.slideShow-container {
  position: relative;
  width: 85%;
  margin: auto;
  .pictures {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    height: 700px;
  }
}

.navigation {
  position: absolute;
  width: 100%;
  top: 40%;
  .prev {
    @include arrow;
    left: 10px;
  }

  .next {
    @include arrow;
    right: 10px;
  }
}

.picture-count {
  position: absolute;
  bottom: 50px;
  right: 50%;
  color: white;
  display: flex;
  justify-content: center;
}
